aiohttp>=3.11.11
aioredis>=2.0.0
arq>=0.26.3
asyncpg>=0.30.0
blinker>=1.9.0
casbin-sqlalchemy-adapter>=0.4.1
casbin>=1.41.0
click>=8.1.8
fastapi
fastapi-mcp>=0.3.3
fsspec>=2025.3.2
iso8601
jsonurl-py>=0.4.0
pipe>=2.2
pydantic[email]>=2.11.4
pypika
pyrsistent>=0.20.0
ruff>=0.9.1
sqlalchemy>=2.0.37
typing-extensions>=4.5.0
ulid-py>=1.1.0
whenever>=0.7.3
